# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
*.log

# SQLite DB local
*.db

# NuGet
packages/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
desktop.ini
